*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*

    font-family: 'Lato', sans-serif;

    font-family: 'Oswald', sans-serif;

*/

/*						*/
	/*LANDING PAGE*/
/*						*/

 body {
  background-image: url(../images/landscape-4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.landing-pg{
	height: 100vh;
	/*background-color: #060622;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sports-logo{
	width: 40%;
	margin-bottom: 0px;
}

.size-images{
	width: 100%;
}


.main-title{
	font-size: 60px;
	color: #620a0a;
}

.main-btn{
	text-decoration: none;
	background-color: #620a0a;
	padding: 10px 25px;
	transition: 0.5s;
	color: white;
	margin-top: 40px;
}

.main-btn:hover{
	padding: 12px 27px;
	background-color: #df0b0b;
}

.sub-btn{
	text-decoration: none;
	color: #c8d0d8;
	margin-top: 15px;
	border: none;
	background: none;
	background-color: none;
	transition: 0.25s;
	font-size: 16px;
}

.sub-btn:hover{
	color: #c8d0d8;
	text-decoration: underline;
}

						
/*HOME PAGE*/	

.page-1{
	background-color: white;
	height: 70vh;
	/*margin: 20px;*/
	/*margin-top: 0px;*/
}

.page-1 .container{
	padding: 40px 10px;
	/*margin-top: 10px;*/
}

/*.background-2{
	height: 250px;
}*/

.page-2{
	height: 100vh;
	background: #620a0a;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.white-head{
	font-size: 50px;
	/*text-decoration: bold;*/
}
.red-head{
	font-size: 50px;/*
	text-decoration: bold;*/
	color: white;
}


.section2-div{
	height: 75vh;
	background: white;
	width: auto;
	text-align: center;
	display: flex;
	flex-direction: column; /*!!IMPORTANT!!! This reverses effects of justify-content: center & align-itens: center*/
	/*justify-content: center;*/
}

.article-img{
	height: 40%;
	margin: 10px;
}

.btn-more{
	margin-top: auto;
	padding: 10px;
	background-color: #745f24;
	color: white;
	transition: 0.25s;
}

.btn-more:hover{
	background-color: #df0b0b;
}

/*.background-3{
	height: 250px;
}*/


.page-3{
	/*margin-top: 60px;*/
	height: auto;
	background-color: white;
	/*background-color: #060622;*/
}

.section3-div{
	background-color: red;
	height: auto;
	width: auto;
	margin: 20px;
}

.page-3 .container{
	/*margin-top: 100px;*/
}

.news-2-head{
	font-size: 30px;
	margin-top: 20px;
}
.news-2{
	background-color: white;
}

.gallery-img{
	width: 100%;
	height: 100%;
}


						
/*NAVBAR*/

.navbar{
   background-color: #620a0a;
   position: sticky;
   top: 0px;
   display: flex;
   text-decoration: none;
}

.navbar a{
   font-size: 16px;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   }

.dropdown{
   position: relative;
}

.dropdown .dropbtn{
   font-size: 16px;
   border: none;
   outline: none;
   color: white;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
   font-family: 'Lato', sans-serif;
}
.navbar a:hover, .dropdown:hover .dropbtn{
   background-color: #df0b0b;
   text-decoration: none;
   color: white;
}
.dropdown-content{
   display: none;
   background-color: #f9f9f9;
   /*min-width: 160px;*/
   box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
   z-index: 3;
   position: absolute;
}
.dropdown-content a{
   color: black;
   /*padding: 12px 16px;*/
   text-decoration: none;
   display: block;
   text-align: left;
}
.dropdown-content a:hover{
   background-color: #ddd;
   color: #df0b0b;
}
.dropdown:hover .dropdown-content{
   display: block;
}

.video-box{
	height: 30vh;
	margin: 20px;
	/*background-color: white;*/
}

.btn-more:focus, .main-btn:focus, .sub-btn:focus, .dropbtn:focus, a:focus{
	outline: none;
}



/*Mobile*/
@media only screen and (max-width: 400px){
	.page-1,{
		height: auto;
	}
	
	.page-2{
		height: auto;
	}
	.page-3{
		height: 150vh;
	}

	.section2-div{
		height: 60vh;
		width: auto;
		margin: 15px 0;
	}

	.nav-name{
		font-size: 10px;
	}
	.navbar a, .dropdown{
		padding: 0;
	}
/*	.dropbtn{
		font-size: 10px;
	}*/
} 

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.page-1, .page-2, .page-3{
		height: auto;
	}

	.section2-div{
		height: 40vh;
		width: auto;
		margin: 15px 0;
	}

}





/*Tablet*/
/*@media only screen and (min-width: 401px) and (max-width: 960px){
	.home-pg, .news-pg, .video-pg, .about-pg{
		width: 50%;*/
		/*float: left;*/
/*	}
}
*/
/*Desktop*/
/*@media only screen and (min-width: 961px){
	.home-pg, .news-pg, .video-pg, .about-pg{
		width: 25%;
	}

}*/
