*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body{
    background-image: url(../images/landscape-4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.full-page{
    height: 100vh;
}

.block{
    display: flex;
    height: 20vh;
}

/* BUTTONS */
.back-btn{
	position: fixed;
	top: 2.5%;
    left: 2%;
    z-index: 9998;

}

/*TEXT TRAITS*/
.white-text{
    color: #f5f5f5;
}
.red-text{
    color: #620a0a;
}
.gold-text{
    color: #745f24;
}
.black-text{
    color: black;
}
.red{
	background-color: #620a0a;
}

.white{
	background-color: #f5f5f5;
}

.section-text{
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
.body-text{
    font-size: 16px;
}
.header-text{
    font-size: 30px;
}

.article-space{
    display: flex;
    height: 60vh;
}

.text-pad{
    padding: 20px;  
}

.centered-btn{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.justify-left{
    justify-content: left;
}

.default-image{
    width: 100%;
}

.white1{
    background-color: rgba(250, 250, 250, 0.75);
}

.article-div{
    padding: 20px;
}

/* @media only screen and (min-width: 401px) and (max-width: 960px){} */
