*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*

    font-family: 'Lato', sans-serif;

    font-family: 'Oswald', sans-serif;

*/

/*//////////////////////////////////////////////*/
	
	/*LANDING PAGE*/
 body {
  background-image: url(../images/landscape-4.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;

}

img{
	/*width: 200px;*/
	/*height: 200px;*/
}

/*//////////////////////////////////////////////*/
	/*UNIVERSAL*/
.page-1, .page-2, .page-3, .page-4, .page-5{ 	/* IMPORTANT*/
	height: auto;
}
/*.page-2, .page-3, .page-4, .page-5{
	padding-top: 40px;
}*/

.page-1{
	background-color: rgba(250, 250, 250, 0.75);
}
.page-3{
	background-color: rgba(250, 250, 250, 0.75);
}

.section2-div, .section3-div, .section4-div{
	margin: 20px;
}

.red{
	background-color: #620a0a;
}

.white{
	background-color: #f5f5f5;
}


	/*TEXT TRAITS*/
.white-text{
	color: #f5f5f5;
}
.red-text{
	color: #620a0a;
}
.gold-text{
	color: #745f24;
}

.section-text{
	font-size: 50px;
	font-family: 'Oswald', sans-serif;
}
.body-text{
	font-size: 16px;
}
.header-text{
	font-size: 30px;
}
.contact-text{
	font-size: 30px;
}
	/*BUTTONS*/
.btn-more:focus, .main-btn:focus, .sub-btn:focus, .dropbtn:focus, a:focus, .contact-btn:focus{
	outline: none;
}

.main-btn{
	text-decoration: none;
	background-color: #620a0a;
	padding: 10px 25px;
	transition: 0.2s;
	color: #f5f5f5;
	margin-top: 40px;
}

.main-btn:hover{
	padding: 12px 27px;
	background-color: #df0b0b;
}

.sub-btn{
	text-decoration: none;
	color: #c8d0d8;
	margin-top: 15px;
	border: none;
	background: none;
	background-color: none;
	transition: 0.25s;
	font-size: 16px;
}

.sub-btn:hover{
	color: #c8d0d8;
	text-decoration: underline;
}

.form-btn{
	text-decoration: none;
	background-color: #620a0a;
	padding: 10px 25px;
	transition: 0.2s;
	color: #f5f5f5;
	font-family: 'Lato', sans-serif;
	}

.form-btn:hover{
	/*padding: 12px 27px;*/
	background-color: #df0b0b;
}

.button-space{
	margin: 5px 30px 0 30px;
}

.subscribe-btn{
	text-decoration: none;
	background-color: #df0b0b;
	color: #f5f5f5;
	font-family: 'Lato', sans-serif;
	padding: 10px 25px;
	transition: 0.2s;
	position: fixed;	
	right: 2%;
	bottom: 2.5%;
	z-index: 9998;
}

.subscribe-btn:hover{
	padding: 15px 30px;
}
/*//////////////////////////////////////////////*/

.landing-pg{
	height: 100vh;
	/*background-color: #060622;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sports-logo{
	width: 40%;
	margin-bottom: 0px;
}

.size-images{
	width: 100%;
	height: 100%;
}


.main-title{
	font-size: 60px;
	color: #620a0a;
}

/*//////////////////////////////////////////////*/

		/*NAVBAR*/
.navbar1{
   background-color: #620a0a;
   position: sticky;
   top: 0px;
   display: flex;
   text-decoration: none;
   z-index: 9999;
}

.navbar1 a{
   font-size: 16px;
   color: #f5f5f5;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: 'Lato', sans-serif;
   }

.dropdown{
   position: relative;
}

.dropdown .dropbtn{
   font-size: 16px;
   border: none;
   outline: none;
   color: #f5f5f5;
   padding: 14px 16px;
   background-color: inherit;
   font-family: inherit;
   margin: 0;
   font-family: 'Lato', sans-serif;
}
.navbar1 a:hover, .dropdown:hover .dropbtn{
   background-color: #df0b0b;
   text-decoration: none;
   color: #f5f5f5;
}
.dropdown-content{
   display: none;
   background-color: #f9f9f9;
   /*min-width: 160px;*/
   box-shadow: 0px 8px 16px 0px rgb(0, 0, 0, 0.2);
   /*z-index: 1000;*/
   position: absolute;
}
.dropdown-content a{
   color: black;
   /*padding: 12px 16px;*/
   text-decoration: none;
   display: block;
   text-align: left;
}
.dropdown-content a:hover{
   background-color: #ddd;
   color: #df0b0b;
}
.dropdown:hover .dropdown-content{
   display: block;
}

.video-box{
	height: 30vh;
	margin: 20px;
	background-color: #f5f5f5;
}


/*//////////////////////////////////////////////*/

	/*Page 1 | HOME PAGE*/	
/*.page-1{
	background-color: #f5f5f5;

}*/

.page-1 .container, .page-2 .container, .page-3 .container, .page-4 .container{
	padding: 40px;
}


.news-2-head{
	font-size: 30px;
	padding-top: 10px;
}
/*//////////////////////////////////////////////*/

	/*PAGE 2 | News*/
.page-2{
	background: #620a0a;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.white-head{
	font-size: 50px;
}
.red-head{
	font-size: 50px;
	color: #f5f5f5;
}


.section2-div{
	height: auto; /*important*/
	background: #f5f5f5;
	width: auto;
	text-align: center;
	display: flex;
	flex-direction: column; /*!!IMPORTANT!!! This reverses effects of justify-content: center & align-itens: center*/

}

/*//////////////////////////////////////////////*/
/* Page 3 | Photos */

.article-img{
	height: 200px;
	width: 100%;
	/*margin: 10px;*/
}

.btn-more{
	text-decoration: none;
	border: none;
	margin-top: auto;
	padding: 10px;
	background-color: #f5f5f5;
	color: #620a0a;
	transition: 0.25s;
}

.btn-more:hover{
	text-decoration: none;
	background-color: #df0b0b;
	color: #f5f5f5;
}


.section3-div{
	/*background-color: red;*/
	height: auto;
	width: auto;
	margin: 20px;
}

.gallery-img1{
	width: 100%;
	height: 250px;
	transition: transform 0.25s;
	z-index: 1;
}
.gallery-img2{
	width: 100%;
	height: 250px;
	transition: transform 0.25s;
	z-index: 1;
}
.gallery-img3{
	width: 100%;
	height: 250px;
	transition: transform 0.25s;
	z-index: 1;
}
.gallery-img4{
	width: 100%;
	height: 250px;
	transition: transform 0.25s;
}

.gallery-img1:hover{
	transform: scale(1.2);
}
.gallery-img2:hover{
	transform: scale(1.2);
}
.gallery-img3:hover{
	transform: scale(1.2);
}
.gallery-img4:hover{
	transform: scale(1.2);
}

/*//////////////////////////////////////////////*/
	/*PAGE 4 | Info*/

.page-4{
	background-color: #620a0a;
}

.section4-div{
	display: flex;
	justify-content: center;
}

.home-logo{
	/* height: 50%; */
	width: 70%;
	padding: 10px;
}


/*/////////////////////////////////////////////*/
	
	/*CONTACT PAGE*/
.form-input{
	display: block;

	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	margin: 5px 0;
	padding: 10px;
}



.form-contents{
	text-align: center;
	padding: 10px;
	border-radius: 10px;
}

.page-5 .container{
	padding-bottom: 60px;
}

.icon{
	font-size: 100px;
}						

.subscribe-page{
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

/*Social Media Icons*/
.twitter{
	color: #1da1f2;
}
.instagram{
  display: inline-block;
  width: 90px;
  height: 90px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  font-size: 90px;
  line-height: 90px;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }
.facebook{
	color: #3b5998;
}
.tumblr{
	color: #34526f;
}

.twitter:hover, .facebook:hover, .tumblr:hover{
	color: black;
}
.instagram:hover{
	background: black;
}
/*Mobile*/
@media only screen and (max-width: 400px){
	.page-1, .page-2, .page-3, .page-4, .page-5{
		height: auto;
	}

	.section2-div{
		height: auto;
		width: auto;
		margin: 15px 0;
	}

	.contact-text{
		font-size: 100%;
	}

	.page-1 .container, .page-2 .container, .page-3 .container, .page-4 .container{
	padding: 65px 0px;
	width: 91vw;
}
	.gallery-img1:hover{
	transform: scale(1.1);
	}
	.gallery-img2:hover{
		transform: scale(1.1);
	}
	.gallery-img3:hover{
		transform: scale(1.1);
	}
	.gallery-img4:hover{
		transform: scale(1.1);
	}

	/* IMPORTANT!!!! THIS FIXES NAVBAR SPACING */
	.dropdown .dropbtn{
		padding: 14px 7px;
	}

}
/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.page-1, .page-2, .page-3, .page-4, .page-5{
		height: auto;
	}

	.section2-div{
		height: auto;
		width: auto;
		margin: 15px 0;
	}
}

@media only screen and (min-width: 960px){

}